.ground-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/messi android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-rz0ro-1080x1919.png");
    height: 400px;
    padding-bottom: -200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}